<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.S_commentMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.entity.S_comment" >
    <id column="cm_id" property="cmId" jdbcType="INTEGER" />
    <result column="cm_bookID" property="cmBookid" jdbcType="INTEGER" />
    <result column="cm_buyerID" property="cmBuyerid" jdbcType="INTEGER" />
    <result column="cm_commentTime" property="cmCommenttime" jdbcType="DATE" />
    <result column="cm_content" property="cmContent" jdbcType="VARCHAR" />
    <result column="cm_buyerName" property="cmBuyername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cm_id, cm_bookID, cm_buyerID, cm_commentTime, cm_content, cm_buyerName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_comment
    where cm_id = #{cmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_comment
    where cm_id = #{cmId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.entity.S_comment" >
    insert into s_comment (cm_id, cm_bookID, cm_buyerID, 
      cm_commentTime, cm_content, cm_buyerName
      )
    values (#{cmId,jdbcType=INTEGER}, #{cmBookid,jdbcType=INTEGER}, #{cmBuyerid,jdbcType=INTEGER}, 
      #{cmCommenttime,jdbcType=DATE}, #{cmContent,jdbcType=VARCHAR}, #{cmBuyername,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.entity.S_comment" >
    insert into s_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cmId != null" >
        cm_id,
      </if>
      <if test="cmBookid != null" >
        cm_bookID,
      </if>
      <if test="cmBuyerid != null" >
        cm_buyerID,
      </if>
      <if test="cmCommenttime != null" >
        cm_commentTime,
      </if>
      <if test="cmContent != null" >
        cm_content,
      </if>
      <if test="cmBuyername != null" >
        cm_buyerName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cmId != null" >
        #{cmId,jdbcType=INTEGER},
      </if>
      <if test="cmBookid != null" >
        #{cmBookid,jdbcType=INTEGER},
      </if>
      <if test="cmBuyerid != null" >
        #{cmBuyerid,jdbcType=INTEGER},
      </if>
      <if test="cmCommenttime != null" >
        #{cmCommenttime,jdbcType=DATE},
      </if>
      <if test="cmContent != null" >
        #{cmContent,jdbcType=VARCHAR},
      </if>
      <if test="cmBuyername != null" >
        #{cmBuyername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.entity.S_comment" >
    update s_comment
    <set >
      <if test="cmBookid != null" >
        cm_bookID = #{cmBookid,jdbcType=INTEGER},
      </if>
      <if test="cmBuyerid != null" >
        cm_buyerID = #{cmBuyerid,jdbcType=INTEGER},
      </if>
      <if test="cmCommenttime != null" >
        cm_commentTime = #{cmCommenttime,jdbcType=DATE},
      </if>
      <if test="cmContent != null" >
        cm_content = #{cmContent,jdbcType=VARCHAR},
      </if>
      <if test="cmBuyername != null" >
        cm_buyerName = #{cmBuyername,jdbcType=VARCHAR},
      </if>
    </set>
    where cm_id = #{cmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.entity.S_comment" >
    update s_comment
    set cm_bookID = #{cmBookid,jdbcType=INTEGER},
      cm_buyerID = #{cmBuyerid,jdbcType=INTEGER},
      cm_commentTime = #{cmCommenttime,jdbcType=DATE},
      cm_content = #{cmContent,jdbcType=VARCHAR},
      cm_buyerName = #{cmBuyername,jdbcType=VARCHAR}
    where cm_id = #{cmId,jdbcType=INTEGER}
  </update>
</mapper>