<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.S_userMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.entity.S_user" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_userName" property="uUsername" jdbcType="VARCHAR" />
    <result column="u_password" property="uPassword" jdbcType="VARCHAR" />
    <result column="u_mobile" property="uMobile" jdbcType="BIGINT" />
    <result column="u_address" property="uAddress" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="queryForListMap" type="com.ssm.entity.S_user" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_userName" property="uUsername" jdbcType="VARCHAR" />
    <result column="u_password" property="uPassword" jdbcType="VARCHAR" />
    <result column="u_mobile" property="uMobile" jdbcType="BIGINT" />
    <result column="u_address" property="uAddress" jdbcType="VARCHAR" />
    <collection property="s_collections" javaType="java.util.List" ofType="com.ssm.entity.S_collection">
      <id column="cl_id" property="clId" jdbcType="INTEGER" />
      <result column="cl_collectorID" property="clCollectorid" jdbcType="INTEGER" />
      <result column="cl_bookID" property="clBookid" jdbcType="INTEGER" />
      <result column="cl_bookName" property="clBookname" jdbcType="VARCHAR" />
      <result column="cl_bookPrice" property="clBookprice" jdbcType="REAL" />
      <result column="cl_bookCover" property="clBookcover" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    u_id, u_userName, u_password, u_mobile, u_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.entity.S_user" >
    insert into s_user (u_id, u_userName, u_password, 
      u_mobile, u_address)
    values (#{uId,jdbcType=INTEGER}, #{uUsername,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}, 
      #{uMobile,jdbcType=BIGINT}, #{uAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.entity.S_user" >
    insert into s_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="uUsername != null" >
        u_userName,
      </if>
      <if test="uPassword != null" >
        u_password,
      </if>
      <if test="uMobile != null" >
        u_mobile,
      </if>
      <if test="uAddress != null" >
        u_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uUsername != null" >
        #{uUsername,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null" >
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uMobile != null" >
        #{uMobile,jdbcType=BIGINT},
      </if>
      <if test="uAddress != null" >
        #{uAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.entity.S_user" >
    update s_user
    <set >
      <if test="uUsername != null" >
        u_userName = #{uUsername,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null" >
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uMobile != null" >
        u_mobile = #{uMobile,jdbcType=BIGINT},
      </if>
      <if test="uAddress != null" >
        u_address = #{uAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.entity.S_user" >
    update s_user
    set u_userName = #{uUsername,jdbcType=VARCHAR},
      u_password = #{uPassword,jdbcType=VARCHAR},
      u_mobile = #{uMobile,jdbcType=BIGINT},
      u_address = #{uAddress,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <select id="getCollectBookByUsername" parameterType="java.lang.String" resultMap="queryForListMap">
    SELECT *
    FROM s_user su
    LEFT JOIN s_collection scl
    ON su.u_id = scl.cl_collectorID
    WHERE su.u_userName = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectAllUsers" resultMap="BaseResultMap">
    SELECT *
    FROM s_user
  </select>
</mapper>